
# Do not upload the datasets, as they weight > 100mb  
02_network_and_practical/src/data

# Ignore models folders (too many heavy files, names too long for github)
02_network_and_practical/src/models 

# Ignore cache
*.pyc